/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_tree .
 *= require normalize
 *= require_self
 */


 /*the css from the stapla
 ==========================================
 ==========================================*/
body {
    overflow-y: scroll;
    overflow-x: hidden;
    background: none;
}

#wrapper {
    z-index:2;
}



.yield_container .pile-me {
    position: absolute;
    z-index: 1000;
    width: 213px;
/**/
  /*background-color: #23CAE3;
*/  border: 1px solid #000;
}

.yield_container .pile-me.hover {
    background-color: #EB95D9;
}

.yield_container .pile-me.hover.active {
  background-color: #23CAE3;
}

.yield_container {
    position: absolute;
    top:0;
    left:0;
    margin:0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

 /*the css from the stapla
 ==========================================
 ==========================================*/

 @import "bootstrap-sprockets";
 @import "bootstrap"
 @import"bootstrap.css";

 .invisible {
  display: none;
}
header {
  min-width: 100%;
}
/*body {
 
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  color: #CCFF99;
  display: block;
}*/

img {
  width: 100%;
  text-align: center;

}
.site_container {
/*  max-width: 1250px;*/
 /* margin: 2% auto;*/
 /* margin: 0 auto 0;
  width: 960px;
  position: relative;*/
    z-index: 2;
 
}
.navbar {
  /*background: -webkit-linear-gradient(top, #CCFF99);*/
  position: fixed;
  width: 100%;
  top: 0;
  border-color: transparent;
  z-index: 2;
  background-color: #CCFF99;
  color: black;

}
.navbar a:hover {
  color: #00FFCC!important;
}
.italicise {
  font-style: italic;
}

h1 {
  font-size: 5em;
  text-align: center;
}

/*.yield_container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}*/

/*.yield_container {
  width: 100%;
  border: 1px solid transparent;
  background-color:gray;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
  -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#adacac, direction=135, strength=2);
}*/

/*#carousel-marketplac-generic {
  margin-bottom: 30px;
}*/
.indivi_product {
  /*display: inline-block;*/
  cursor: pointer;
  max-width: 360px;
  border: 1px solid transparent;
  padding: 12px;
  margin: 1em;
  background-color: lightgray;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
  -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#adacac, direction=135, strength=2);
}
.indivi_product:hover {
  box-shadow: 0 1px 5px rgba(34, 25, 25, .8);
  -moz-box-shadow: 0 1px 5px rgba(34, 25, 25, .8);
  -webkit-box-shadow: 0 1px 5px rgba(34, 25, 25, .8);
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#979797, direction=135, strength=3);
}
.indivi_product img {
  border-radius: 8px;
  text-align: center;
}

.product_left_panel, .product_right_panel {
  display: inline-block;
  vertical-align: top;
  min-width: 48%;
}
#enlarge-modal {
  width: 780px;
}
/*@media only screen and (min-width : 480px) {
  #enlarge-modal {
    width: 600px!important;
    margin: 30px auto;
  }
}*/
 .modal-content {
  width: 100%;
}
.disabled {
  pointer-events: none;
  cursor: default;
}

.flash_msg {
  color: #5cb85c!important;
  margin: 0;
}
.scrollToTop {
  position: fixed;
  display: none;
  bottom: 12px;
  right: 12px;
  padding: 0 15px;
  line-height: 32px;
  font-size: 12px;
  background: #d6d8db;
  color: #7f8184;
  font-weight: bold;
  border-radius: 3px;
  z-index: 9;
  cursor: pointer;
}
/*.about-container {
  padding: 30px;
}*/
/*.about-img {
  width: 50%;
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}*/

.quantity {
  width: 50px;
  display: inline-block;
  margin-bottom: 10px;
}
.product_img {
  margin: auto;
  text-align: center;
}
.list_item {
  list-style: none;
}
/*.heartbeat {
  display: inline-block;
  margin: 15px;
}*/
.goRight {
  float: right;
}
/* Wobble Vertical */
 @-webkit-keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.wobble-vertical {
  display: inline-block;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-animation-name: wobble-vertical;
  animation-name: wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/*basket button*/
.addbasket {
  color: white;
  background-color: black;

}


/* Button container */
 .progress-button {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 45%;
  min-width: 250px;
  margin: 10px;
}
/* Button style */
 .progress-button input {
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  margin-left: 8px;
  margin-bottom: 8px;
  width: 185px;
  height: 55px;
  border: 2px solid #1ECD97;
  border-radius: 40px;
  background: transparent;
  color: #1ECD97;
  letter-spacing: 1px;
  font-size: 18px;
  font-family:'Montserrat', sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
  transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}
.progress-button input:hover {
  background-color: #1ECD97;
  color: #fff;
}
.progress-button input:focus {
  outline: none;
}

/*stoping the bootstrap boarder color*/
.btn-info {
  border-color: transparent !important;
}